body {
  font-size: 16px;
  color: #444;
  font-family: sans-serif;
  font-weight: normal;
}

div.wrapper {
  width: 90%;
  margin: 20px auto;
  max-width: 960px;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
  border: 1px solid lightgray;
}

div.wrapper header {
  text-align: center;
  margin-top: 0;
  background-color: #eee;
}


div.page-banner {
  padding: 10px 0;
}

header form input {
  width:250px;
  line-height: 1.5;
}

#book-list {
  padding-left: 25px;
}

#book-list ul {
  list-style: none;
  padding-left: 0;
}

#book-list ul li  {
  border-left:5px #eee solid;
  padding: 30px;
  margin: 20px 10px;
}

#book-list ul li:hover {
  border-color:#9361bf;
}
span.delete {
  float: right;
  padding: 6px;
  background: #9361bf;
  color: #fff;
  border-radius: 5px;
}

.delete:hover {
    background: #333;
}

#add-book {
  text-align: center;
  padding: 10px;
}

#add-book button {
  background: #9361bf;
  padding: 6px;
  color: #fff;
  width: 50px;
}

#add-book input {
  padding: 6px;
}
